absl-py
annotated-types
anyio
asgiref
asttokens
astunparse
bcrypt
blinker
cachetools
certifi
chardet
click
colorama
comm
cryptography
debugpy
decorator
defer
distro
duplicity
exceptiongroup
executing
fastapi
fasteners
flatbuffers
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httplib2
httptools
idna
importlib-metadata
ipykernel
ipython
jedi
jeepney
joblib
jupyter_client
jupyter_core
keras
keyring
launchpadlib
lazr.restfulclient
lazr.uri
libclang
lockfile
louis
macaroonbakery
Mako
Markdown
MarkupSafe
matplotlib-inline
ml-dtypes
monotonic
more-itertools
nest-asyncio
netifaces
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvcc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
oauthlib
olefile
opencv-python
opt-einsum
packaging
paramiko
parso
pexpect
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycairo
pydantic
pydantic_core
Pygments
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-dateutil
python-debian
python-dotenv
python-multipart
pytz
pyxdg
PyYAML
pyzmq
reportlab
requests
requests-oauthlib
rsa
scikit-learn
scipy
SecretStorage
six
sniffio
stack-data
starlette
systemd-python
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorrt
termcolor
threadpoolctl
tornado
traitlets
typing_extensions
urllib3
uvicorn
uvloop
wadllib
watchfiles
wcwidth
websockets
Werkzeug
wrapt
wsproto
xdg
zipp

